<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Guestbook</title>
  <!-- <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="../static/js/guestbook.js"></script>
  <script>
    $(document).ready(function () {
       guestbookList(); // 페이지 처음 진입했을 때, 방명록 리스트 불러오기
    });
  </script> -->
  <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

  <!-- Navbar -->
  <div id="wrap">
    <nav id="navbar">
      <div class="navbar__logo">
        <i class="fab fa-diaspora"></i>
        <a href="./index.html">Caerang SW 전시회</a>
      </div>
      <ul class="navbar__menu">
        <a href="./team.html"><li class="navbar__menu__item active">Team</li></a>
        <a href="./project.html"><li class="navbar__menu__item">Projects</li></a>
        <a href="./guestbook.html"><li class="navbar__menu__item">Guestbook</li></a>
      </ul>
  
      <!-- Toggle button -->
      <button class="navbar__toggle-btn">
        <i class="fas fa-bars"></i>
      </button>
    </nav>  
  </div>
  

  <section class="guest">
    
    <div class="guestbook__title">Geust book</div>

    <div class="input">
      <p>작성자</p>
      <input type="text" id="writer" />
      <p>내용</p>
      <input type="text" id="content" />
      <input type="button" onclick="addGuestbook()" value="등록" class="input-btn"/>
    </div>

    <div id="guestbookList"></div>
  </section>

</body>

</html>