<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="../static/images/caerang.png" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&family=Roboto+Slab:wght@400;600;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="https://kit.fontawesome.com/9eb162ac0d.js" crossorigin="anonymous"></script>
  <script defer src="../static/js/guestbook.js"></script>
  <script defer src="../static/js/main.js"></script>
  <title>2021 씨애랑 | Guestbook</title>

<body>
  <ul class="skipnavi">
    <li><a href="#">본문내용</a></li>
  </ul>
  <!-- Navbar -->
  <!-- nav 가 아래로 밀려 guestbook 콘텐츠와 겹치는 현상 발생, 이를 해결하기 위해 #wrap 으로 감싸고 overflow: auto 로 해결, 
    safari는 해결 overflow: scroll 해야함 ++ top: 0; -->
  <div id="wrap">
    <nav id="navbar" style="top: 0;">
      <div class="navbar__logo">
        <img src="../static/images/logo.png" alt="">
        <a href="./index.html">Caerang SW 전시회</a>
      </div>
      <ul class="navbar__menu">
        <a href="./team.html">
          <li class="navbar__menu__item active">Team</li>
        </a>
        <a href="./project.html">
          <li class="navbar__menu__item">Projects</li>
        </a>
        <a href="./guestbook.html">
          <li class="navbar__menu__item">Guestbook</li>
        </a>
      </ul>

      <!-- Toggle button -->
      <button class="navbar__toggle-btn">
        <i class="fas fa-bars"></i>
      </button>
    </nav>
  </div>

  <section class="guest">

    <div class="guestbook__title">Geust book</div>

    <div class="input">
      <input placeholder="이름" type="textarea" id="writer" />
      <textarea placeholder="축하 또는 응원 메시지를 남겨주세요! 근거없는 비방 글, 욕설, 상업적인 게시글은 통보없이 삭제될 수 있습니다." id="content"></textarea>
      <button type="button" class="input-btn">
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </section>

  <div class="text-wrapper">
  </div>

  </div>

  <!-- Contact -->
  <section id="contact" class="section">
    <h1 class="contact__title">Contact</h1>
    <div class="contact__container">
      <div class="president">
        <h2>회장 26기 백경민</h2>
        <h3>010 - 8959 - 0437</h3>
          <h3>bag0437@naver.com</h3>
          <div class="contact__links">
            <a href="`https://github.com/korea3500" target="_blank">
              <i class="fab fa-github"></i>
            </a>
            <a href="mailto:bag0437@naver.com" target="_blank"><i class="fa fa-google"></i></a>
          </div>
      </div>

      <div class="vice-president">
        <h2>부회장 26기 최준민</h2>
        <h3>010 - 4904 - 5799</h3>
        <h3>jm980513@gmail.com</h3>
        <div class="contact__links">
          <a href="https://github.com/junminChoi" target="_blank">
            <i class="fab fa-github"></i>
          </a>
          <a href="mailto:jm980513@gmail.com" target="_blank"><i class="fa fa-google"></i></a>
        </div>
      </div>
    </div>

    <p class="contact__rights">
      2021 HALLYM UNIVERSITY Caerang SW-Exhibition
    </p>
  </section>

  <!-- Arrow up -->
  <button class="arrow-up">
    <i class="fas fa-arrow-up"></i>
  </button>

</body>

</html>