<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Guestbook</title>
  <!-- <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="../static/js/guestbook.js"></script>
  <script>
    $(document).ready(function () {
       guestbookList(); // 페이지 처음 진입했을 때, 방명록 리스트 불러오기
    });
  </script> -->
  <link rel="stylesheet" href="../static/css/style.css">
  <script defer src="../static/js/main.js"></script>
  <script defer src="../static/js/guestbook.js"></script>

<body>

  <div class="guestbook">
    <!-- Navbar -->
    <div id="wrap">
      <nav id="navbar">
        <div class="navbar__logo">
          <i class="fab fa-diaspora"></i>
          <a href="./index.html">Caerang SW 전시회</a>
        </div>
        <ul class="navbar__menu">
          <a href="./team.html">
            <li class="navbar__menu__item active">Team</li>
          </a>
          <a href="./project.html">
            <li class="navbar__menu__item">Projects</li>
          </a>
          <a href="./guestbook.html">
            <li class="navbar__menu__item">Guestbook</li>
          </a>
        </ul>

        <!-- Toggle button -->
        <button class="navbar__toggle-btn">
          <i class="fas fa-bars"></i>
        </button>
      </nav>
    </div>


    <section class="guest">

      <div class="guestbook__title">Geust book</div>

      <div class="input">
        <input placeholder="이름" type="textarea" id="writer" />
        <textarea placeholder="축하 또는 응원 메시지를 남겨주세요! 근거없는 비방 글, 욕설, 상업적인 게시글은 통보없이 삭제될 수 있습니다." id="content"></textarea>
        <button type="button" class="input-btn"><span>등록</span></button>
      </div>

      <div id="guestbookList"></div>
    </section>

    <div class="text-wrapper">
      <!-- <div class="text">댓글</div>
      <div class="text">댓글</div>
      <div class="text">댓글</div>
      <div class="text">댓글</div>
      <div class="text">댓글</div>
      <div class="text">댓글</div>
      <div class="text">댓글</div>
      <div class="text">댓글</div> -->
    </div>
    
  </div>

</body>

</html>