<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="../static/images/caerang.png" />
  <link rel="stylesheet" href="../static/css/main_page.css">
  <title>2021 SOFTWARE EXHIBITION</title>
</head>

<body>
  <div class="main__container">
    <div class="made__by">
      <p>MADE BY 26기 함승완, 곽영주</p>
    </div>
    <div class="main__title">
      <span>
        씨애랑 <br> 2021 SOFTWARE EXHIBITION
      </span>
    </div>
    <br><br>
    <div class="link-btn">
      <a href="./team.html"><button class="open-btn">TEAM</button></a>
      <a href="./project.html"><button class="open-btn">PROJECT</button></a>
      <a href="./guestbook.html"><button class="open-btn">GUESTBOOK</button></a>
    </div>
  </div>
  <!-- <div class="main__text">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique natus quibusdam, possimus sit itaque fugit consectetur dolore autem, reiciendis veniam odio error ducimus quas ipsum tempora necessitatibus, non laudantium. Officiis?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi beatae repellendus reprehenderit accusamus aperiam sequi iure rerum impedit! Illum temporibus blanditiis corporis incidunt eius cum magnam qui sunt voluptatem inventore!
    </p>
  </div> -->
</body>

</html>