<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="https://kit.fontawesome.com/9eb162ac0d.js" crossorigin="anonymous"></script>
  <script defer src="../static/js/main.js"></script>
  <title>2021 씨애랑 | Member</title>
</head>

<body>
  <ul class="skipnavi">
    <li><a href="#team">본문내용</a></li>
  </ul>
  <nav id="navbar">
    <div class="navbar__logo">
      <a href="./index.html">Caerang SW 전시회</a>
    </div>
    <ul class="navbar__menu">
      <a href="./team.html">
        <li class="navbar__menu__item active">Team</li>
      </a>
      <a href="./project.html">
        <li class="navbar__menu__item">Projects</li>
      </a>
      <a href="./guestbook.html">
        <li class="navbar__menu__item">Guestbook</li>
      </a>
    </ul>

    <!-- Toggle button -->
    <button class="navbar__toggle-btn">
      <i class="fas fa-bars"></i>
    </button>
  </nav>

  <section id="team" class="section">
    <div class="section__container">
      <h1>라온</h1>
      <h3>Member</h3>
      <div class="team__description">
        <p>팀 소개가 들어갈 박스 입니다. 무엇을 주로 하는 팀인지에 대한 소개</p>
        <p>팀장 이름 및 정보</p>
      </div>

      <div class="team__member">
        <a href="https://github.com/seungwanHam" class="member" target="blank">
          <img src="" alt="" class="member__img">
          <div class="member__description">
          </div>
          <div>
            <h3>함승완</h3>
            <p>빅데이터전공<br>3학년</p>
          </div>
        </a>
        <a href="https://github.com/seungwanHam" class="member" target="blank">
          <img src="" alt="" class="member__img">
          <div class="member__description">
          </div>
          <div>
            <h3>곽영주</h3>
            <p>빅데이터전공<br>3학년</p>
          </div>
        </a>
        <a href="https://github.com/seungwanHam" class="member" target="blank">
          <img src="" alt="" class="member__img">
          <div class="member__description">
          </div>
          <div>
            <h3>곽영주</h3>
            <p>빅데이터전공<br>3학년</p>
          </div>
        </a>
        <a href="https://github.com/seungwanHam" class="member" target="blank">
          <img src="" alt="" class="member__img">
          <div class="member__description">
          </div>
          <div>
            <h3>곽영주</h3>
            <p>빅데이터전공<br>3학년</p>
          </div>
        </a>
        <a href="https://github.com/seungwanHam" class="member" target="blank">
          <img src="" alt="" class="member__img">
          <div class="member__description">
          </div>
          <div>
            <h3>곽영주</h3>
            <p>빅데이터전공<br>3학년</p>
          </div>
        </a>
        <a href="https://github.com/seungwanHam" class="member" target="blank">
          <img src="" alt="" class="member__img">
          <div class="member__description">
          </div>
          <div>
            <h3>곽영주</h3>
            <p>빅데이터전공<br>3학년</p>
          </div>
        </a>
        <a href="https://github.com/seungwanHam" class="member" target="blank">
          <img src="" alt="" class="member__img">
          <div class="member__description">
          </div>
          <div>
            <h3>곽영주</h3>
            <p>빅데이터전공<br>3학년</p>
          </div>
        </a>
        <a href="https://github.com/seungwanHam" class="member" target="blank">
          <img src="" alt="" class="member__img">
          <div class="member__description">
          </div>
          <div>
            <h3>곽영주</h3>
            <p>빅데이터전공<br>3학년</p>
          </div>
        </a>
        <a href="https://github.com/seungwanHam" class="member" target="blank">
          <img src="" alt="" class="member__img">
          <div class="member__description">
          </div>
          <div>
            <h3>곽영주</h3>
            <p>빅데이터전공<br>3학년</p>
          </div>
        </a>
        <a href="https://github.com/seungwanHam" class="member" target="blank">
          <img src="" alt="" class="member__img">
          <div class="member__description">
          </div>
          <div>
            <h3>곽영주</h3>
            <p>빅데이터전공<br>3학년</p>
          </div>
        </a>
        <a href="https://github.com/seungwanHam" class="member" target="blank">
          <img src="" alt="" class="member__img">
          <div class="member__description">
          </div>
          <div>
            <h3>곽영주</h3>
            <p>빅데이터전공<br>3학년</p>
          </div>
        </a>
        <a href="https://github.com/seungwanHam" class="member" target="blank">
          <img src="" alt="" class="member__img">
          <div class="member__description">
          </div>
          <div>
            <h3>곽영주</h3>
            <p>빅데이터전공<br>3학년</p>
          </div>
        </a>
      </div>

    </div>
  </section>

  <!-- Arrow up -->
  <button class="arrow-up">
    <i class="fas fa-arrow-up"></i>
  </button>

</body>

</html>