<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="../static/images/caerang.png" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&family=Roboto+Slab:wght@400;600;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="https://kit.fontawesome.com/9eb162ac0d.js" crossorigin="anonymous"></script>
  <script defer src="../static/js/main.js"></script>
  <title>2021 씨애랑 | project_description</title>
</head>

<body>
  <ul class="skipnavi">
    <li><a href="#project__desc">본문내용</a></li>
  </ul>
  <!-- Navbar -->
  <nav id="navbar">
    <div class="navbar__logo">
      <a href="./index.html">Caerang SW 전시회</a>
    </div>
    <ul class="navbar__menu">
      <a href="./team.html">
        <li class="navbar__menu__item active">Team</li>
      </a>
      <a href="./project.html">
        <li class="navbar__menu__item">Projects</li>
      </a>
      <a href="./guestbook.html">
        <li class="navbar__menu__item">Guestbook</li>
      </a>
    </ul>

    <!-- Toggle button -->
    <button class="navbar__toggle-btn">
      <i class="fas fa-bars"></i>
    </button>
  </nav>

  <section id="project__desc" class="section">
    <div class="project__desc__container">

      <div class="project__info">
        <div class="project__name">
          <h4>
            <span>함승완 Seungwan Ham</span>
            <br><br>
            <a href="#" target="_blank">
              <span>색 변경 되는지 확인</span>
            </a>
          </h4>
          <!-- <h4>함승완 Seungwan Ham <br><br> ONLINE EXHIBITION</h4> -->
        </div>
        <div class="division__line"></div>
        <div class="student__info">
          <h4>빅데이터전공 3학년 함승완 / 딥러닝팀</h4>
          <h4>스마트IOT 3학년 함승완 / 라떼팀</h4>
          <h4>콘텐츠IT 3학년 함승완 / 라온팀</h4>
          <h4>빅데이터전공 3학년 함승완 / 딥러닝팀</h4>
        </div>
      </div>

      <div class="project__detail">
        <h3>작품 소개</h3>
        <h4>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ipsa, nisi minus ea beatae laboriosam quo quasi
          enim optio aspernatur maiores at non, sed expedita a nihil cumque ullam aliquam! Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Eos deserunt animi voluptatibus quos unde expedita illum. Molestias repellat,
          eos repudiandae exercitationem doloribus ratione qui. Tempore ullam distinctio dignissimos blanditiis minima!
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi nemo beatae corporis voluptatum asperiores
          cumque atque ab? Nulla enim impedit exercitationem veritatis ipsum quos quae, velit quia illum unde!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ipsa, nisi minus ea beatae laboriosam quo quasi
          enim optio aspernatur maiores at non, sed expedita a nihil cumque ullam aliquam! Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Eos deserunt animi voluptatibus quos unde expedita illum. Molestias repellat,
          eos repudiandae exercitationem doloribus ratione qui. Tempore ullam distinctio dignissimos blanditiis minima!
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi nemo beatae corporis voluptatum asperiores
          cumque atque ab? Nulla enim impedit exercitationem veritatis ipsum quos quae, velit quia illum unde!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ipsa, nisi minus ea beatae laboriosam quo quasi
          enim optio aspernatur maiores at non, sed expedita a nihil cumque ullam aliquam! Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Eos deserunt animi voluptatibus quos unde expedita illum. Molestias repellat,
          eos repudiandae exercitationem doloribus ratione qui. Tempore ullam distinctio dignissimos blanditiis minima!
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi nemo beatae corporis voluptatum asperiores
          cumque atque ab? Nulla enim impedit exercitationem veritatis ipsum quos quae, velit quia illum unde!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ipsa, nisi minus ea beatae laboriosam quo quasi
          enim optio aspernatur maiores at non, sed expedita a nihil cumque ullam aliquam! Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Eos deserunt animi voluptatibus quos unde expedita illum. Molestias repellat,
          eos repudiandae exercitationem doloribus ratione qui. Tempore ullam distinctio dignissimos blanditiis minima!
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi nemo beatae corporis voluptatum asperiores
          cumque atque ab? Nulla enim impedit exercitationem veritatis ipsum quos quae, velit quia illum unde!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ipsa, nisi minus ea beatae laboriosam quo quasi
          enim optio aspernatur maiores at non, sed expedita a nihil cumque ullam aliquam! Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Eos deserunt animi voluptatibus quos unde expedita illum. Molestias repellat,
          eos repudiandae exercitationem doloribus ratione qui. Tempore ullam distinctio dignissimos blanditiis minima!
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi nemo beatae corporis voluptatum asperiores
          cumque atque ab? Nulla enim impedit exercitationem veritatis ipsum quos quae, velit quia illum unde!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ipsa, nisi minus ea beatae laboriosam quo quasi
          enim optio aspernatur maiores at non, sed expedita a nihil cumque ullam aliquam! Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Eos deserunt animi voluptatibus quos unde expedita illum. Molestias repellat,
          eos repudiandae exercitationem doloribus ratione qui. Tempore ullam distinctio dignissimos blanditiis minima!
        </h4>
      </div>

    </div>
  </section>

  <!-- Arrow up -->
  <button class="arrow-up">
    <i class="fas fa-arrow-up"></i>
  </button>

</body>

</html>